body
{
	margin: 0;
	font-size: 16px;
	font-family: Arial, Helvetica,sans-serif;
}
nav{
	padding: 5px 20px;
	background-color: #00779a;
	color: #F8F8FF;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
li{
	padding:15px;
	margin-left:10px;
	display: inline-block;	
}
li:hover{
	border-radius: 5px;
	background-color: #F8F8FF;
	color: #00779a;
}
a{
	text-decoration: none;
	color: #F8F8FF;
}
img{
	float: left;
	matgin-top: 5px;
	width: 145px;
	height: 85px;
}
#img-center{
	margin: 0;
	width: 2560px;
	height: 500px;
}